[filter "branch:android-mainline"]
	reviewer = android-kernel-reviews@google.com
[filter "branch:android12-5.4"]
	reviewer = android-kernel-reviews@google.com
[filter "branch:android11-5.4"]
	reviewer = android-kernel-reviews@google.com
[filter "branch:android-4.19-stable"]
	reviewer = android-kernel-reviews@google.com
[filter "branch:android-4.14-stable"]
	reviewer = android-kernel-reviews@google.com
[filter "branch:android11-5.4-lts"]
	reviewer = android-kernel-reviews@google.com
[filter "branch:android12-5.10"]
	reviewer = android-kernel-reviews@google.com
